/* fonts import */
@import url("../fonts/octin_sports_rg.ttf");
body {
  font-family: "Poppins", sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
  overflow-x: hidden;
}

.layout_padding {
  padding: 90px 0;
}

.layout_padding2 {
  padding: 45px 0;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.heading_container h2 {
  position: relative;
  font-weight: bold;
  text-transform: uppercase;
}

.heading_container.heading_center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

/*header section*/
.hero_area {
  min-height: 50vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sub_page .hero_area {
  min-height: auto;
}

.sub_page .makale-sayfa {
  min-height: 33vh;
}

/* Blog Sayfası */

.sub_page .blog {
  min-height: 33vh;
}

.blogsayfa .about_section {
  padding: 5vh 0 5vh 0;
}

.blogsayfa .about_section .row{
  align-items: baseline;
}

.blogsayfa .img-box img {
  height:35vh;
  object-fit: cover;

}

.blogsayfa .onecikanmakaleresim {
  object-fit: cover;
}

.blogsayfa .onecikanmakale2 {
  width: 10rem; 
  object-fit: cover;
}

.blogsayfa .about_section .anamakale {
  overflow: hidden; 
  background-repeat: no-repeat; 
  background-position: right;
}

.blogsayfa .about_section .col-md-6 h2 , .lead{
  text-shadow: 0px 0px 9px rgb(0 0 0 / 70%);
}

.blogsayfa .about_section .mb-2 .card {
  overflow: hidden;
}

.blogsayfa .teacher_section .img-box {
  max-height: 25vh;
  overflow: hidden;
}

/* Foto Galeri */

.w3-quarter img{margin-bottom: -6px; cursor: pointer}
.w3-quarter img:hover{opacity: 0.6; transition: 0.3s}
#modal01 {padding-top: 21vh;} 
/* Video Sayfası */ 

.videosayfa .video img {
  max-width: 100%;
  height: auto;
}

.videosayfa .video {
  background: rgb(252, 252, 252);
  padding-bottom: 20px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
  width: 23%; /* Thumbnails 4 across */
  height: 18vh;
  margin: 1%;
  float: left;
  transition: all, 0.3s, ease;
  overflow: hidden;
}

.videosayfa .video h2 {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.25;
  color: rgb(22, 22, 22);
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  padding: 7px 4px;
  margin: 0;
}
 /* 
 These keep the height of each video thumbnail consistent between YouTube and Vimeo.
 Each can have thumbnail sizes that vary by 1px and are likely break your layout. 
 */

 .videosayfa .video figure {
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
}

.videosayfa .video figure a {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  line-height: 0;
}


/* Media Queries - This is the responsive grid. */

@media (max-width: 1024px) {
  .videosayfa .video {
    width: 31.333%; /* Thumbnails 3 across */
  }
}

@media (max-width: 600px) {
  .videosayfa .video {
    width: 48%; /* Thumbnails 2 across */
  }
}

@media (max-width: 360px) {
  .videosayfa .video {
    display: block;
    width: 96%; /* Single column view. */
    margin: 2%; /* The smaller the screen, the smaller the percentage actually is. */
    float: none;
  }
}

/* These are my preferred rollover styles. */

.videosayfa .video img {
  width: 100%;
  opacity: 1;
  margin-top: -25px;
}

.videosayfa .video img:hover, .video img:active, .video img:focus {
  opacity: 0.75;
}

.videosayfa .fancybox-overlay-fixed {
  background-color: rgba(0,0,0,0.7);
}

.videodetail {
  margin: 3vh;
}

.videosayfa .pagination {
  margin-top: 1rem;
}

.videosayfa .pagination a {
  color:#272727;
}

.sub_page .header_section {
  -webkit-box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.15);
}

.header_section {
  background-color: #ffffff;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.header_section .nav_container {
  margin: 0 auto;
}

.custom_nav-container .navbar-nav .nav-item .nav-link {
  padding: 3px 15px;
  margin: 10px 15px;
  color: #272727;
  text-align: center;
  text-transform: uppercase;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.custom_nav-container .nav_search-btn {
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
}

.navbar-brand span {
  font-size: 24px;
  font-weight: 700;
  color: #272727;
  text-transform: uppercase;
}

.custom_nav-container {
  z-index: 99999;
  padding: 5px 0;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler {
  padding: 0;
  width: 37px;
  height: 42px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span {
  display: block;
  width: 32px;
  height: 4px;
  background-color: #000000;
  border-radius: 15px;
  margin: 7px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::before, .custom_nav-container .navbar-toggler span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000000;
  border-radius: 15px;
  top: -10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::after {
  top: 10px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span::before, .custom_nav-container .navbar-toggler[aria-expanded="true"] span::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 0;
}

.quote_btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
  align-items: center;
  width: 30%;
  right: 0;
  padding-left: 3%;
  font-size: x-small;
  text-align: center;
}

.quote_btn-container a {
  color: #151515;
  margin-right: 25px;
  text-transform: uppercase;
}

.quote_btn-container a span {
  margin-right: 5px;
}

/*end header section*/
/* slider section */
.slider_section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.slider_section .slider_bg_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section .slider_bg_box .bg_img_box img {
  min-width: 100%;
  min-height: 100%;
}

.slider_section .slider_bg_box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(14, 55, 70, 0.5)), to(rgba(14, 55, 70, 0.55)));
  background: linear-gradient(to right, rgba(14, 55, 70, 0.5), rgba(14, 55, 70, 0.55));
}

.slider_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section #customCarousel {
  width: 100%;
  z-index: 3;
}

.slider_section .detail-box {
  text-align: center;
  color: #ffffff;
}

.slider_section .detail-box h1 {
  font-weight: bold;
  text-transform: uppercase;
  width: 75%;
  margin: auto;
}

.slider_section .detail-box p {
  margin: 25px 0;
}

.slider_section .detail-box .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -5px;
}

.slider_section .detail-box .btn-box a {
  margin: 5px;
  text-align: center;
  width: 165px;
}

.slider_section .detail-box .btn-box .btn1 {
  display: inline-block;
  padding: 10px 15px;
  background-color: #0e3746;
  color: #ffffff;
  border-radius: 0;
  border: 1px solid #0e3746;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.slider_section .detail-box .btn-box .btn1:hover {
  background-color: #fff;
  color: #0e3746;
}

.slider_section .detail-box .btn-box .btn2 {
  display: inline-block;
  padding: 10px 15px;
  background-color: #ffffff;
  color: #000000;
  border-radius: 0;
  border: 1px solid #ffffff;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.slider_section .detail-box .btn-box .btn2:hover {
  background-color: transparent;
  color: #ffffff;
}

.slider_section .img-box img {
  width: 100%;
}

.slider_section .carousel-indicators {
  position: unset;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 45px;
}

.slider_section .carousel-indicators li {
  background-color: #0e3746;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  opacity: 1;
}

.slider_section .carousel-indicators li.active {
  width: 17px;
  height: 17px;
  background-color: #ffffff;
}

.about_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_section .img-box img {
  width: 100%;
}

.about_section .detail-box p {
  margin-top: 10px;
  margin-bottom: 35px;
}

.about_section .detail-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #0e3746;
  color: #ffffff;
  border-radius: 0;
  border: 1px solid #0e3746;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.about_section .detail-box a:hover {
  background-color: transparent;
  color: #0e3746;
}

.course_section {
  position: relative;
  color: #ffffff;
}

.course_section .course_bg_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
}

.course_section .course_bg_box .bg_img_box img {
  min-width: 100%;
  min-height: 100%;
  max-width: 400%;
}

.course_section .course_bg_box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(14, 55, 70, 0.65)), to(rgba(14, 55, 70, 0.4)));
  background: linear-gradient(to bottom, rgba(14, 55, 70, 0.65), rgba(14, 55, 70, 0.4));
}

.course_section .heading_container {
  padding-left: 90px;
}

.course_section .course_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 35px;
  padding-left: 85px;
  position: relative;
}

.course_section .course_container .box {
  margin: 0 10px;
  background-color: #ffffff;
  color: #000000;
}

.course_section .course_container .box .img-box {
  position: relative;
}

.course_section .course_container .box .img-box img {
  width: 100%;
}

.course_section .course_container .box .detail-box {
  padding: 15px;
}

.course_section .course_container .box .detail-box h4 {
  font-weight: 600;
}

.course_section .course_container .box .detail-box p {
  font-size: 15px;
}

.course_section .course_container .box .detail-box a {
  display: inline-block;
  padding: 7px 30px;
  background-color: #0e3746;
  color: #ffffff;
  border-radius: 0;
  border: 1px solid #0e3746;
  -webkit-transition: all .2s;
  transition: all .2s;
  margin-right: 1rem;
}

.course_section .course_container .box .detail-box a:hover {
  background-color: transparent;
  color: #0e3746;
}

.course_section .owl-carousel {
  position: unset;
}

.course_section .owl-carousel .item {
  width: 350px;
}

.course_section .owl-carousel .owl-nav {
  position: absolute;
  top: 23%;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.course_section .owl-carousel .owl-nav button.owl-next,
.course_section .owl-carousel .owl-nav button.owl-prev {
  width: 50px;
  height: 50px;
  margin: 3px 0;
  border-radius: 100%;
  outline: none;
  background-color: #0e3746;
  color: #ffffff;
  font-size: 20px;
}

.course_section .owl-carousel .owl-nav button.owl-next:hover,
.course_section .owl-carousel .owl-nav button.owl-prev:hover {
  background-color: #ffffff;
  color: #000000;
}

.course_section .owl-carousel .owl-nav button.owl-next span,
.course_section .owl-carousel .owl-nav button.owl-prev span {
  display: none;
}

.course_section .owl-carousel .owl-dots {
  display: none;
}

.teacher_section .box {
  background-color: #0e3746;
  color: #ffffff;
  text-align: center;
  margin-top: 45px;
}

.teacher_section .box .img-box {
  overflow: hidden;
}

.teacher_section .box .img-box img {
  width: 100%;
}

.teacher_section .box .img-box img:hover {
  transform: scale(1.1);
  opacity: 0.7;
}

.teacher_section .box .detail-box {
  padding: 10px 15px;
}

.teacher_section .box .detail-box a {
  color:#fff;
  text-decoration: none;
}

.teacher_section .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px;
}

.teacher_section .btn-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #0e3746;
  color: #ffffff;
  border-radius: 0;
  border: 1px solid #0e3746;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.teacher_section .btn-box a:hover {
  background-color: transparent;
  color: #0e3746;
}

.client_section .heading_container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.client_section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 45px;
  padding: 35px 25px;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
}

.client_section .box .img-box {
  border-radius: 100%;
  border: 10px solid #0e3746;
  margin-right: 25px;
  min-width: 175px;
  max-width: 175px;
  max-height: 175px;
  min-height: 175px;
  overflow: hidden;
}

.client_section .box .img-box img {
  width: 100%;
}

.client_section .box .detail-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.client_section .box .detail-box .name {
  text-align: center;
}

.client_section .box .detail-box .name img {
  width: 25px;
  margin-bottom: 5px;
}

.client_section .box .detail-box .name h6 {
  color: #0e3746;
  font-size: 20px;
}

.client_section .carousel_btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.client_section .carousel-control-prev,
.client_section .carousel-control-next {
  position: unset;
  width: 45px;
  height: 45px;
  border: none;
  opacity: 1;
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: center;
  background-color: #0e3746;
  background-position: center;
  border-radius: 100%;
  margin: 0 2.5px;
}

.client_section .carousel-control-prev:hover,
.client_section .carousel-control-next:hover {
  background-color: #000000;
}

.client_section .carousel-control-next {
  left: initial;
}

.contact_section {
  position: relative;
}

.contact_section .heading_container {
  margin-bottom: 25px;
}

.contact_section .heading_container h2 {
  text-transform: uppercase;
}

.contact_section .form_container input {
  width: 100%;
  border: none;
  height: 50px;
  margin-bottom: 25px;
  padding-left: 15px;
  outline: none;
  color: #101010;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
}

.contact_section .form_container input::-webkit-input-placeholder {
  color: #333;
}

.contact_section .form_container input:-ms-input-placeholder {
  color: #333;
}

.contact_section .form_container input::-ms-input-placeholder {
  color: #333;
}

.contact_section .form_container input::placeholder {
  color: #333;
}

.contact_section .form_container input.message-box {
  height: 120px;
}

.contact_section .form_container button {
  border: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 12px 55px;
  background-color: #0e3746;
  color: #ffffff;
  border-radius: 0px;
  border: 1px solid #0e3746;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.contact_section .form_container button:hover {
  background-color: transparent;
  color: #0e3746;
}

.contact_section .map_container {
  height: 345px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 0;
}

.contact_section .map_container .map {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.contact_section .map_container .map #googleMap {
  height: 100%;
}

.info_section {
  background-color: #091f27;
  color: #ffffff;
  padding-top: 45px;
  padding-bottom: 10px;
}

.info_section .row > div {
  margin-bottom: 35px;
}

.info_section .contact_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.info_section .contact_nav a {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  margin-bottom: 10px;
}

.info_section .contact_nav a i {
  font-size: 22px;
  margin-right: 10px;
}

.info_section .contact_nav a:hover {
  color: #0e3746;
}

.info_section .info_top {
  padding: 45px 0;
}

.info_section h4 {
  text-transform: uppercase;
  position: relative;
  margin-bottom: 20px;
  color: #ffffff;
  font-weight: 600;
}

.info_section .social_box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
}

.info_section .social_box a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 18px;
  margin-right: 10px;
}

.info_section .social_box a:hover {
  color: #0e3746;
  border-color: #0e3746;
}

.info_section .info_form input {
  width: 100%;
  border: none;
  height: 45px;
  margin-bottom: 15px;
  padding-left: 25px;
  background-color: #eaeaea;
  outline: none;
  color: #101010;
}

.info_section .info_form button {
  display: inline-block;
  padding: 10px 45px;
  background-color: #0e3746;
  color: #ffffff;
  border-radius: 0px;
  border: 1px solid #0e3746;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.info_section .info_form button:hover {
  background-color: transparent;
  color: #0e3746;
}

/* footer section*/
.footer_section {
  position: relative;
  text-align: center;
}

.footer_section p {
  color: #000000;
  padding: 25px 0;
  margin: 0;
}

.footer_section p a {
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

/* 
This is the starting grid for each video with thumbnails 4 across for the largest screen size.
It's important to use percentages or there may be gaps on the right side of the page. 
*/

.video {
  background: #fff;
  padding-bottom: 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  width: 23%; /* Thumbnails 4 across */
  margin: 1%;
  float: left;
}

.videoThumb {
  margin-top: -30px;
}

 /* 
 These keep the height of each video thumbnail consistent between YouTube and Vimeo.
 Each can have thumbnail sizes that vary by 1px and are likely break your layout. 
 */

.video figure {
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
}

.video figure a {
    display: block;
    margin: 0;
    padding: 0;
    border: none;
    line-height: 0;
  }


/* Media Queries - This is the responsive grid. */

@media (max-width: 1024px) {
  .video {
    width: 31.333%; /* Thumbnails 3 across */
  }
}

@media (max-width: 600px) {
  .video {
    width: 48%; /* Thumbnails 2 across */
  }
}

@media (max-width: 360px) {
  .video {
    display: block;
    width: 96%; /* Single column view. */
    margin: 2%; /* The smaller the screen, the smaller the percentage actually is. */
    float: none;
  }
}

/* These are my preferred rollover styles. */

.video img {
  width: 100%;
  opacity: 1;
}

.video img:hover, .video img:active, .video img:focus {
  opacity: 0.75;
}

.video figure{
  margin: 0;
}

****************************************
*/
.fancybox-close {
  border-bottom: none;
}
.fancybox-close:hover, .fancybox-close:active, .fancybox-close:focus {
  border-bottom: none;
}

/* fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top;
}

.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020;
}

.fancybox-skin {
  position: relative;
  background: #f9f9f9;
  color: #444;
  text-shadow: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.fancybox-opened {
  z-index: 8030;
}

.fancybox-opened .fancybox-skin {
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
  position: relative;
}

.fancybox-inner {
  overflow: hidden !important;
}

.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch;
}

.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%;
}

.fancybox-image {
  max-width: 100%;
  max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
  background-image: url("../images/fb/fancybox_sprite.png");
}

#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060;
}

#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url("../images/fb/fancybox_loading.gif") center center no-repeat;
}

.fancybox-close {
  position: absolute;
  top: -18px;
  right: -18px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 8040;
}

.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: transparent url("../images/fb/blank.gif");
  /* helps IE */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  z-index: 8040;
}

.fancybox-prev {
  left: 0;
}

.fancybox-next {
  right: 0;
}

.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  visibility: hidden;
}

.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px;
}

.fancybox-next span {
  right: 10px;
  background-position: 0 -72px;
}

.fancybox-nav:hover span {
  visibility: visible;
}

.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important;
}

/* Overlay helper */
.fancybox-lock {
  overflow: hidden !important;
  width: auto;
}

.fancybox-lock body {
  overflow: hidden !important;
}

.fancybox-lock-test {
  overflow-y: hidden !important;
}

.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background-color: rgba(0,0,0,0.7);
}

.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}

.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll;
}

/* Title helper */
.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050;
}

.fancybox-opened .fancybox-title {
  visibility: visible;
}

.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center;
}

.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent;
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-shadow: 0 1px 2px #222;
  color: #FFF;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap;
}

.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff;
}

.fancybox-title-inside-wrap {
  padding-top: 10px;
}



/* Retina graphics */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  #fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: url("../images/fb/fancybox_sprite@2x.png");
    background-size: 44px 152px;
    /*The size of the normal image, half the size of the hi-res image*/
  }

  #fancybox-loading div {
    background-image: url("../images/fb/fancybox_loading@2x.gif");
    background-size: 24px 24px;
    /*The size of the normal image, half the size of the hi-res image*/
  }
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgb(27, 42, 110);
  color: white;
  cursor: pointer;
  padding: 9px 15px;
  border-radius: 4px;
  opacity: 0.7;
}

#myBtn i{
font-weight: bold;
}

#myBtn:hover {
  background-color: #555;
}

.owl-stage .img-box .video {
  width: 98%;
  padding-bottom: 0;
}

/* Vitrin Css */

* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --mobile-width: 325px;
  --mobile-height: 550px;
  --mobile-radius: 25px;
  --separator-height: 300px;
  --mobile-bg: #e9e9e9;
  --intro-bg: #ececec;
  --font-color: #807b7b;
  --transition: transform 0.7s ease-in-out;
}

.vitrin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg);
}
.mobile-layout .preface .icon {
  transform-origin: top;
  transition: var(--transition);
}
.info {
  font-family: 'Quicksand', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-size: 26px;
  margin-top: 10px;
  color: var(--font-color);
}
.mobile-layout {
  width: 265px;
  height: 475px;
  margin: 30px 0;
  perspective: 500px;
  overflow: hidden;
  color: var(--font-color);
  box-shadow:  0px 0px 15px rgba(200,200,200,0.5);
}
.mobile-layout .notification-header {
  position: fixed;
  top: 5px;
  width: 100%;
  padding: 5px 15px;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  z-index: 6;
}
.mobile-layout .actions {
  position: fixed;
  top: 37px;
  width: 100%;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  z-index: 6;
}
.mobile-layout .book-cover {
  position: relative;
  height: 300px;
  width: calc(var(--mobile-width) * 2);
  left: -52.5%;
  border-top-left-radius: var(--mobile-radius);
  border-top-right-radius: var(--mobile-radius);
  background-color: var(--intro-bg);
  transform-style: preserve-3d;
  transform-origin: 50% 40%;
  transition: var(--transition);
  z-index: 4;
  }
.book-cover img:first-child {
  width: 170px;
  height: 255px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
.mobile-layout .book-top {
  width: 170px;
  position: absolute;
  top: 60px;
  left: 190px;
  z-index: 5;
  transform: translateZ(28.5px);
}
.mobile-layout .book-side {
  position: absolute;
  top: 310px;
  left: 163px;
  transform: translateY(-15px) translateX(0px) translateZ(15px) rotateX(104deg);
}

.mobile-layout:hover > .book-cover {
  transform: rotateX(75deg) translateY(-121px) translateX(-15px) translateZ(45px) scale(0.75);
}
.mobile-layout:hover > .book-cover + .preface {
  transform: translateY(-250px);
}

.mobile-layout:hover  .header i {
  opacity: 0%;
}

.mobile-layout .preface {
  height: var(--separator-height);
  padding: 50px;
  transition: var(--transition);
  background: white;
  text-align: center;
}
.mobile-layout .preface .header {
  display: flex;
  align-items: baseline;
}
.mobile-layout .preface .title {
  font-family: 'Quicksand', sans-serif;
  font-size: 26px;
  margin-bottom: 10px;
  min-height: 5vh;
  text-align: center;
  width: 11rem;
}
.title i{
  font-size: 15px;
}
.mobile-layout .preface .author {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  margin-bottom: 20px;
  min-height: 3vh;
}

.mobile-layout .preface a {
  color:#807b7b;
  text-decoration: none;
}

.mobile-layout .preface .icon {
  transform-origin: top;
  transition: var(--transition);
}
.mobile-layout .preface .body {
  font-family: 'Quicksand', sans-serif;
}
.mobile-layout .preface .body p:first-child {
  margin-bottom: 15px;
}

.vitrin {
  justify-content: center;
}

.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, 0.8);
}

.form-control {
    width: 80%;
    text-align: end;
}

/*# sourceMappingURL=style.css.map */

@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{   }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}	

.dropdown-menu {
  left:auto;
}

