{% load static %}

<footer>
    <section class="info_section ">
        <div class="container">
          <div class="info_top ">
            <div class="row ">
              <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="info_detail">
                  <a href="index.html">
                    <h4>
                      {{ayarlar.footer_aciklama_baslik}}
                    </h4>
                  </a>
                  <p>
                    {{ayarlar.footer_aciklama}}
                  </p>
                  <div class="social_box">
                    <a href="{{ayarlar.footer_facebook}}">
                      <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                    <a href="{{ayarlar.footer_twitter}}">
                      <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                    <a href="{{ayarlar.footer_youtube}}">
                      <i class="fa fa-youtube" aria-hidden="true"></i>
                    </a>
                    <a href="{{ayarlar.footer_instagram}}">
                      <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3 mx-auto">
                <h4>
                  {{ayarlar.footer_iletisim_baslik}}
                </h4>
                <p>
                  {{ayarlar.footer_iletisim_aciklama}}
                </p>
                <div class="contact_nav"> 
                    <span>
                      <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;
                      {{ayarlar.footer_iletisim_konum}}
                    </span>
                    <span>
                      <i class="fa fa-phone" aria-hidden="true"></i>&nbsp;
                      Tel : {{ayarlar.footer_iletisim_tel}}
                    </span>
                    <span>
                      <i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;
                      Email : {{ayarlar.footer_iletisim_mail}}
                    </span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="info_form">
                  <h4>
                    {{ayarlar.footer_mail_baslik}}
                  </h4>
                  <form action="">
                    <input type="text" placeholder="e-mail" />
                    <button type="submit">
                      Katıl
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
  </footer>