    {% load static %}
    
    <!-- header section strats -->
    <header class="header_section sticky-top">
        <div class="container-fluid">
          <nav class="navbar navbar-expand-lg custom_nav-container ">
            <a class="navbar-brand" href="{% url 'index' %}">
              <span>
                BEN ANADOLU
              </span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class=""> </span>
            </button>
  
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <div class="d-flex mx-auto flex-column flex-lg-row align-items-center dropdown">
                <ul class="navbar-nav dropdown ">
                  <li class="nav-item{% if request.path == '/' %} active {% endif %}">
                    <a class="nav-link" href="{% url 'index' %}">Anasayfa<span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item{% if request.path == '/blog/' %} active {% endif %}">
                    <a class="nav-link" href="{% url 'blog' %}">
                      Blog <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                      <li>
                        <a href="{% url 'makaleler' %}" class="dropdown-item">
                          Makaleler
                        </a>
                      </li>
                      <li>
                        <a href="{% url 'kategori_liste' %}" class="dropdown-item">
                          Kategoriler
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="nav-item{% if request.path == '/videoders/' %} active {% endif %}">
                    <a class="nav-link" href="{% url 'videoders' %}">Video Dersler</a>
                  </li>
                  <li class="nav-item{% if request.path == '/galeri/' %} active {% endif %}">
                    <a class="nav-link" href="{% url 'galeri' %}">Galeri</a>
                  </li>
                  <li class="nav-item{% if request.path == '/vitrin/' %} active {% endif %}">
                    <a class="nav-link" href="{% url 'vitrin' %}">Vitrin</a>
                  </li>
                </ul>
              </div>
              <div class="quote_btn-container">
                <form class="form-inline" method="GET" action="{% url 'arama' %}">
                  <input class="input-text form-control arama-input" name="arama" placeholder="Ara" type="text" id="arama">
                  <button id="aramabuton" class="btn  my-2 my-sm-0 nav_search-btn" type="submit">
                    <i class="fa fa-search" aria-hidden="true"></i>
                  </button>
                </form>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- end header section -->