{% extends 'partials/_base.html' %}
{% load static %}

{% block content %}
  <div class="hero_area blog">

    <section class="slider_section ">
        <div class="slider_bg_box">
          <div class="bg_img_box">
            <img src="{% static 'images/slider-bg.jpg' %}" alt="">
          </div>
        </div>
        <div id="customCarousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="container ">
                <div class="row">
                  <div class="col-md-7 mx-auto">
                    <div class="detail-box">
                      <h1>
                        BLOG
                      </h1>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </section>

  </div>

  <!-- about section -->

  <section class="about_section">
    <div class="container">
      <div class="row" >
        <div class="col-md-12">
          <div class="card flex-md-row mb-4 box-shadow bg-dark onecıkanmakale">
            <div class="jumbotron card-body d-flex flex-column align-items-start col-md-8 bg-dark lead">
              <h2 class="display-4 text-white">{{ basmakale.isim | upper }}</h2>
              <p class="lead my-3 text-white">{{ basmakale.aciklama | safe | truncatechars:405 }}</p>
              <a href="{% url 'makale_detay' basmakale.kategori.slug basmakale.makale_slug %}" class="text-white">Devamını Oku</a>
            </div>
            <img class="onecıkanmakaleresim col-md-4 col-sm-2 pr-0" src="{{basmakale.resim.url}}" alt="Card image cap" style="object-fit:cover;">
          </div>
        </div>

        <div class="row mb-2">
        {% for tali in talimakale %}
          <div class="col-md-6">
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
              <div class="card-body d-flex flex-column align-items-start">
                <h3 class="mb-0">
                  <a class="text-dark" href="{% url 'makale_detay' tali.kategori.slug tali.makale_slug %}">{{ tali.isim | upper }}</a>
                </h3><br/>
                <p class="card-text mb-auto">{{ tali.aciklama | safe | truncatechars:65 }}</p>
                <a href="{% url 'makale_detay' tali.kategori.slug tali.makale_slug %}">Devamını Oku</a>
              </div>
              <img class="onecikanmakale2" src="{{ tali.resim.url }}" alt="Card image cap">
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
          
      <main role="main" class="container">
        <div class="row">
          <div class="col-md-10 blog-main">
            <h3 class="pb-3 mb-4 border-bottom">
              Makaleler
            </h3>
  
            <section class="teacher_section">
              <div class="container">
                <div class="row">

                  {% for makale in makaleler %}
                  {% if makale.basMakale == 0 and makale.taliMakale == 0 %}
                    <div class="col-sm-6 col-lg-6">
                      <div class="box rounded renk">
                        <div class="img-box">
                          <img src="{{makale.resim.url}}" alt="">
                        </div>
                        <div class="detail-box">
                          <a href="{% url 'makale_detay' makale.kategori.slug makale.makale_slug %}" class="renk border">
                            <h5>
                              {{ makale.isim | upper }}
                            </h5>
                          </a>
                        </div>
                      </div>
                    </div>
                  {% endif %}
                  {% endfor %}
                  
                </div>
              </div>
            </section>

          </div><!-- /.blog-main -->
  
          <aside class="col-md-2 blog-sidebar">
            <div class="p-3">
              <a href="{% url 'kategori_liste' %}"><h4>Kategoriler</h4><a/>
              <ol class="list-unstyled mb-0">
              {% for kategori in kategoriler %}
                <li><a href="{% url 'kategori_detay' kategori.isim %}">{{ kategori.isim }}</a></li>
              {% endfor %}
              </ol>
            </div>
          </aside><!-- /.blog-sidebar -->
        </div><!-- /.row -->
      </main><!-- /.container -->     
      </div>
      <br/><br/>
      <nav class="d-flex justify-content-center align-middle" aria-label="">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="{% url 'makaleler' %}">
              <span aria-hidden="true">Devamı .. &raquo;</span>
              <span class="sr-only">Next</span>            
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </section>

  <!-- end about section -->

  {% endblock %}