{% extends 'partials/_base.html' %}
{% load static %}

{% block content %}

  <div class="hero_area blog">
    <!-- end header section -->

    <section class="slider_section ">
        <div class="slider_bg_box">
          <div class="bg_img_box">
            <img src="{{ ayarlar.anasayfa_banner_resim.url }}" alt="">
          </div>
        </div>
        <div id="customCarousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="container ">
                <div class="row">
                  <div class="col-md-7 mx-auto">
                    <div class="detail-box">
                      <h1>
                        GALERİ
                      </h1>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </section>

  </div>

  <!-- about section -->

  <div class="container" style="margin-top:40px;">
            <div class="demo-gallery">
                <ul id="lightgallery" class="list-unstyled row">
                  {% for resim in galeri %}  
                    <li class="col-xs-12 col-sm-6 col-md-4 col-lg-4" >
                        <a href="" data-fancybox data-src="{{ resim.resim.url }}">
                          <div class="galeri-resim">
                            <img class="img-responsive" src="{{ resim.resim.url }}">
                          </div>
                        </a>
                    </li>
                  {% endfor %}  
                </ul>
            </div>
        </div>
  
    <!-- Pagination -->
      <nav class="d-flex justify-content-center align-middle" aria-label="">
        <ul class="pagination">

        {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
          </li>
        {% endif %}

          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.number }}"><b>{{ page_obj.number }}</b></a>
          </li>
        
        {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        {% endif %}

        </ul>
      </nav>
    
    <!-- Modal for full size images on click-->
    <div id="modal01" class="w3-modal w3-black align-middle" onclick="this.style.display='none'">
      <span class="w3-button w3-black w3-xlarge w3-display-topright">×</span>
      <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
        <img id="img01" class="w3-image">
        <p id="caption"></p>
      </div>
    </div>
  
  
  <!-- End page content -->
  </div>
  
  {% endblock %}