{% extends 'partials/_base.html' %}
{% load static %}

{% block content %}

    <section class="slider_section ">
        <div class="slider_bg_box">
          <div class="bg_img_box">
            <img src="{% static 'images/slider-bg.jpg'%}" alt="">
          </div>
        </div>
        <div id="customCarousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="container ">
                <div class="row">
                  <div class="col-md-7 mx-auto">
                    <div class="detail-box videodetail">
                      <h1>Video Dersler</h1>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </section>

  </div>

  <!-- about section -->

  <section class="about_section layout_padding ">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <article class="video">
            <figure>
              <a class="fancybox fancybox.iframe" href="https://www.youtube.com/embed/svTfwQ6ukmA">
              <img class="videoThumb" src="https://img.youtube.com/vi/svTfwQ6ukmA/maxresdefault.jpg"></a>
            </figure>
            <h2 class="videoTitle">29 Haziran 2021<br></h2>
          </article>

          <article class="video">
            <figure>
              <a class="fancybox fancybox.iframe" href="https://www.youtube.com/embed/kDjHh5_g38w">
              <img class="videoThumb" src="https://img.youtube.com/vi/kDjHh5_g38w/maxresdefault.jpg"></a>
            </figure>
            <h2 class="videoTitle">Mesopotamia</h2>
          </article>

          <article class="video">
            <figure>
              <a class="fancybox fancybox.iframe" href="https://www.youtube.com/embed/svTfwQ6ukmA">
              <img class="videoThumb" src="https://img.youtube.com/vi/svTfwQ6ukmA/maxresdefault.jpg"></a>
            </figure>
            <h2 class="videoTitle">29 Haziran 2021<br></h2>
          </article>

          <article class="video">
            <figure>
              <a class="fancybox fancybox.iframe" href="https://www.youtube.com/embed/kDjHh5_g38w">
              <img class="videoThumb" src="https://img.youtube.com/vi/kDjHh5_g38w/maxresdefault.jpg"></a>
            </figure>
            <h2 class="videoTitle">Mesopotamia</h2>
          </article>

          <article class="video">
            <figure>
              <a class="fancybox fancybox.iframe" href="https://www.youtube.com/embed/svTfwQ6ukmA">
              <img class="videoThumb" src="https://img.youtube.com/vi/svTfwQ6ukmA/maxresdefault.jpg"></a>
            </figure>
            <h2 class="videoTitle">29 Haziran 2021<br></h2>
          </article>

          <article class="video">
            <figure>
              <a class="fancybox fancybox.iframe" href="https://www.youtube.com/embed/kDjHh5_g38w">
              <img class="videoThumb" src="https://img.youtube.com/vi/kDjHh5_g38w/maxresdefault.jpg"></a>
            </figure>
            <h2 class="videoTitle">Mesopotamia</h2>
          </article>

          <article class="video">
            <figure>
              <a class="fancybox fancybox.iframe" href="https://www.youtube.com/embed/svTfwQ6ukmA">
              <img class="videoThumb" src="https://img.youtube.com/vi/svTfwQ6ukmA/maxresdefault.jpg"></a>
            </figure>
            <h2 class="videoTitle">29 Haziran 2021<br></h2>
          </article>

          <article class="video">
            <figure>
              <a class="fancybox fancybox.iframe" href="https://www.youtube.com/embed/kDjHh5_g38w">
              <img class="videoThumb" src="https://img.youtube.com/vi/kDjHh5_g38w/maxresdefault.jpg"></a>
            </figure>
            <h2 class="videoTitle">Mesopotamia</h2>
          </article>
        </div>
      </div>
      <nav class="d-flex justify-content-center align-middle" aria-label="">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </section>  

  {% endblock %}

